<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="/javascripts/mapFE.js"></script>
    <style>
        #map-canvas {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<h1><%= title %></h1>
<input type="text" id="location-search"/>
<div id="map-canvas" style="width: 800px; height: 500px;"></div>
</body>
</html>





