<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css"/>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        #search-panel {
            position: absolute;
            top: 5px;
            left: calc(50% - 50px);
            margin-left: -180px;
            z-index: 5;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #999;
        }
        .result-container {
            position: absolute;
            top: 20px;
            left: -300px;
            display: block;
            margin-left: -180px;
            z-index: 5;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #999;
        }
        #map-canvas {
            width: 1000px;
            height: 800px;
            margin: 20px auto;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var geocoder;
        var map;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(37.8700,-122.2590);
            var mapOptions = {
                zoom: 9,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }

        function browseLocations (display) {
            // display is a functionality to turn on/off the results panel
            if(display) {
                var resPanelContainer = makeResultsDisplay();
                console.log(resPanelContainer);
                var resPanel = document.querySelector('#results');
                console.log(resPanel);
            }

            console.log('fired browseLocations');
            var keyword = 'universities';
            var locationIn = document.querySelector('#locationsIn').value;

            var nextCenter;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/map/mapinput/' + locationIn);
            xhr.setRequestHeader('accept', 'application/json');
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.addEventListener('readystatechange', function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    resPanel.innerHTML = '';
                    var obj = JSON.parse(xhr.responseText);
                    console.log(obj);
                    for (var i= 0; i < obj.length; i++) {
                        var o = obj[i];
                        var htmlContent = obj[i].name + '</br>' + obj[i].city + ',  ' + obj[i].state + '</br>' + obj[i].departments + '</br> </br>';

                        if(display) listQueryResults(obj[i]);

                        var pos = new google.maps.LatLng(obj[i].lat, obj[i].lng);
                        nextCenter = pos;

                        var marker = new google.maps.Marker({
                            map: map,
                            position: pos,
                            icon: "/images/icons/mini-marker-red.png"
                        });
                        var infowindow = new google.maps.InfoWindow({
                            content: htmlContent
                        });
                        google.maps.event.addListener(marker, 'click', (function (m, iw) {
                            iw.open(map, m);

                        }).bind(null, marker, infowindow));
                    }
                    map.setCenter(nextCenter);
                    map.setZoom(12);
                }
            });
            xhr.send();
            function listQueryResults (obj) {
                console.log('listQueryResults');
                // clear previous results
                var htmlContent = obj.name + '</br>' + obj.city + ',  ' + obj.state + '</br>' + obj.departments + '</br> </br>';
                console.log(htmlContent);
                createElement('div', resPanel,htmlContent, 'resultListItem');

                var d = document.createElement('div');
                d.innerHTML = htmlContent;
                resPanel.appendChild(d);
            }

            function makeResultsDisplay () {
                console.log('makeResultsDisplay');
                var container = createElement('div',document.body,'','','result-container');
                var h1 = createElement('h1',container,'Search Results');
                var resList = createElement('div',container, '','results');
                document.body.appendChild(container);
                return container;
            }
            function createElement (type, parent, innerhtml, idName, className) {
                var element = document.createElement(type);
                if(idName) element.id = idName;
                if(innerhtml) element.innerHTML = innerhtml;
                if(className) element.className = className;
                parent.appendChild(element);
                return element;
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="search-panel">

    <input id="locationsIn" type="textbox" value="94086">
    <input type="button" value="Get Universities In" onclick="browseLocations(true)">
</div>
<div id="map-canvas"></div>
</body>
